# Go build and test artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Project-specific binaries and artifacts
c2paremover
*.wasm
*.cleaned.*

# Test data
testdata/

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Wasmer files
wasmer.toml.bak

# End of https://www.toptal.com/developers/gitignore/api/go